/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #FFFFFF;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #FFFFFF;
}

.parallax-container {
  min-height: 500px;
  line-height: 0;
  height: auto;
  width: auto;
  color: rgba(255,255,255,.9);

}
  .parallax-container .section {
    width: 100%;
  }

  .img {
    width: 500px;
  }

  .carousel-item img {

    width: 100vh;
  }

  .parallax {
    height: auto;
    width: auto;
    background-size: cover;
  }

@media only screen and (max-width : 992px) {
 /* .parallax-container .section {
    position: absolute;
    top: 40%;
  }*/
 /* #index-banner .section {
    top: 10%;
  }*/
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .parallax-container {
    min-height: 50px;
    line-height: 0;
    height: 50vh;
    width: 60vh;
    color: rgba(255,255,255,.9);

  }

/*  .carousel {
    height: auto;
    width: auto;
    background-size: contain;
    justify-content: center;
    position: relative;
  }

  .carousel-slider {
    height: auto;
    width: auto;
    justify-content: center;

  }

  .carousel-item img {

    height: auto;
    width: auto;
    margin-right: 30vh;
    background-size: contain;
  }*/

  h1 {
    font-size: 30px
  }

  h5 {
    font-size: 15px;
  }


  #index-image .section {
    height: auto;
    width: auto;

    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.5;
  }

/*  .parallax-container .section {
    background-size: cover;
    top: 40%;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;

  }

  .parallax-container .img {
    background-size: cover;
    top: 40%;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
  }*/

  /*.img {
    height: auto;
    width: auto;

    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    opacity: 0.5;
  }*/
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

 header, main, footer {
      padding-left: 300px;
    }

    @media only screen and (max-width : 992px) {
      header, main, footer {
        padding-left: 0;
      }
}
